.cta-button {
    display: flex;
    padding: 14px;
    background-color: #ffffff;
    font-family: inherit;
    color: #000000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .cta-button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1); 
  }
  
  .cta-button:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }