.product-container {
  width: 100%;
  height: 768px;
  margin: 90px 0px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Background stays behind */

  .product-content {
    max-width: 944px;
    padding: 0px 40px;
    margin: 0px auto;
    .product-header {
      width: 220px;
      padding-bottom: 40px;
      padding-top: 80px;
    }
    .product-title {
      margin: 0px;
    }
    .product-description {
      width: 50%;
      margin: 16px 0px 32px 0px;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep it behind other elements */
    margin-top: 0px;
    background-size: cover;
    background-position: center;

    .overlay {
      position: absolute;
      max-width: 1024px;
      max-height: 768px;
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, rgba(37, 45, 55, 0) 40%, #09101A 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #000000 100%);
      mix-blend-mode: multiply; /* Blend with the image */
    }
  }

  .foreground {
    position: absolute;
    bottom: 0px; /* Desktop overflow */
    left: 50%;
    margin-bottom: 0px;
    height: calc(100% + 90px);
    width: 50%; /* Desktop size */
    z-index: 3; /* Above background and gradient */
    pointer-events: none; /* Prevent interaction */
    img {
        height: -webkit-fill-available;
    }
    @media (max-width: 768px) {
        bottom: -70px; /* Mobile overflow */
        width: 40%; /* Mobile size */
    }
}

  
}
