.thumbnail-container {
    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    @media (min-width: 481px) {
        margin-top: 90px;
        justify-content: initial;
    }
}

.thumbnail-wrapper {
    position: relative;
    flex: 0 0 30%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-radius: 12px;
    @media (min-width: 481px) {
         flex: none;
         padding: 4px;
         margin: 12px;
    }

    .thumbnail {
        width: 90%;
        padding: 7px;
        object-fit: cover;
        border-radius: 14px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        @media (min-width: 481px) {
            width: 80px;
            height: 80px;
            border-radius: 6px;
            padding: 0px;
        }
    }
    
    .thumbnail:hover {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        @media (min-width: 481px) {
            transform: translateY(-15px) scale(1.4);
        }
    }
    
    .selected-thumbnail {
        @media (min-width: 481px) {
            transform: translateY(-15px) scale(1.4);
        }
    }

    .thumbnail-overlay {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        background: transparent;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &.selected-thumbnail {
            content: "";
            border-radius: 10px;
            border: 2px solid transparent;
            background: linear-gradient(-125deg, #fff, #000 40%, #fff) border-box;
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }
    }
    .thumbnail-overlay:hover {
        cursor: pointer;
        content: "";
            border-radius: 10px;
            border: 2px solid transparent;
            background: linear-gradient(-125deg, #fff, #000 40%, #fff) border-box;
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
    }
}

